<!DOCTYPE html>
<html ng-app="app" ng-strict-di>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="../../angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="watch_group.js"></script>
</head>

<body>
<h2>$scope.$watchGroup</h2>

<div ng-controller="WatchGroupController">
  <input type="text" ng-model="greeting">
  <input type="text" ng-model="message2">
  <input type="text" ng-model="message3">

  <p>{{result}}</p>
</div>
</body>

</html>
