<!DOCTYPE html>
<html ng-app="app" ng-strict-di>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="../../angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="watch_collection.js"></script>
</head>

<body>
<h2>$scope.$watchCollection</h2>

<div ng-controller="WatchCollectionController">
  <input type="text" ng-model="message">
  <button ng-click="items.push(message)">push</button>

  <p>{{result}}</p>
</div>
</body>

</html>
