.account-setting-tab {
  dt {
    font-weight: bold;
  }
  dd {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .avatar-img-button {
    position: relative;
  }
  .file-button {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 132px;
    height: 28px;
    cursor: pointer;
    border-radius: 3px;
    &:hover {
      opacity: .1;
      background: #000;
    }
    &:active {
      opacity: .15;
      background: #000;
    }
  }
  .change-button {
  }
}