.non-login-forms{
  margin: 100px;

  form {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ui.form .text-input-group {
    flex-direction: column;

    .ui.input {
      input[type="email"], input[type="password"] {
        width: 250px;
      }
    }

    .field {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 5px 0;
    }
  }
}

