.okr-setting-tab {
  .date-input {
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .date-input__between {
    height: 37px;
    padding: 0 10px;
    line-height: 37px;
  }
}