.organization-setting-tab {
  &.ui.tab.active {
    display: inline-flex;
  }
  dl {
    margin-left: 16px;
  }
  dt {
    font-weight: bold;
  }
  dd {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .file-input {
    display: none;
  }
}
