.password-set {
  margin-top: -28px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .password-set__form {
    text-align: right;
  }

  .password-set__submit {
    margin-top: 12px;
  }

  .password-set__link {
    margin-top: 32px;
  }
}
