.password-reset {
  margin-top: -28px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .password-reset__submit {
    margin-top: 16px;
  }

  .password-reset__link {
    margin-top: 48px;
  }

  .ui.form .field .ui.input input {
    width: 300px;
  }
}
