.sign-up {
  margin: 100px;

  form {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ui.form .text-input-group {
    flex-direction: column;

    .ui.input {
      input {
        width: 300px;
      }
    }

    .ui.input.last-name {
      input {
        width: 148px;
        margin-right: 4px;
      }
    }

    .ui.input.first-name {
      input {
        width: 148px;
      }
    }

    .react-datepicker__input-container {
      input {
        width: 300px;
        height: 30px;
      }
    }

    .ui.selection.dropdown {
      width: 300px;
    }

    .field {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 5px 0;
    }
  }
}

