.sign-up {
  margin-top: -28px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .ui.form .fields {
    flex-direction: column;
  }

  .ui.form .field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 6px 0;
  }

  .sign-up__submit {
    margin-top: 16px;
  }

  .sign-up__link {
    margin-top: 48px;
  }

  .ui.form .fields .field {
    .ui.input {
      input {
        width: 300px;
      }
    }

    .ui.input.last-name {
      input {
        width: 146px;
      }
    }

    .ui.input.first-name {
      input {
        width: 146px;
        margin-left: 8px;
      }
    }

    .react-datepicker__input-container {
      input {
        width: 142px;
      }
    }

    .ui.selection.dropdown {
      width: 300px;
      margin-top: 6px;
    }
  }

  .between {
    width: 16px;
    text-align: center;
  }
}
