.sign-up-completed {
  margin-top: -28px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .link {
    margin-top: 12px;
  }
}
