.sign-in {
  margin-top: -28px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .sign-in__form {
    text-align: right;
  }

  .sign-in__submit {
    margin-top: 12px;
  }

  .sign-in__link {
    margin-top: 32px;
  }
}
