.change-history {
  &.ui.comments .comment {
    .author {
      display: inline-block;
      margin-right: 4px;
    }

    .text {
      margin: .5rem 0 .75rem;
    }

    .label {
      margin-right: .5rem;
    }
  }
}
