.objective-list {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 16px 16px 0 24px;
  height: 195px + 16px; /* with scrollbar */

  .objective-box {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 4px;
    width: 210px;
    height: 195px;
    justify-content: center;
    align-items: center;
    border: 2px dashed $BORDER_COLOR;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &.active {
      border: 2px $SELECT_COLOR solid;
    }

    &:hover:not(.drop) {
      border-color: $SELECT_COLOR;

      .swap-icons {
        display: flex;
      }
    }

    &.drag {
      visibility: hidden;
    }

    &.drop {
      cursor: default !important;
      .recharts-wrapper {
        cursor: default !important;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    $font-size: .9rem;
    $line-height: 1.4;
    $lines-to-show: 2;

    .name {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 100%;
      height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    .swap-icons {
      width: 100%;
      position: absolute;
      bottom: 4px;
      display: none;
      justify-content: space-between;

      .swap-left,
      .swap-right {
        margin: 0 4px;
      }
    }
    &:first-child .swap-left,
    &:last-child .swap-right {
      visibility: hidden;
    }
  }
}
