.okr-list {
  &.ui.list {
    &:first-child {
      margin-bottom: 0;
    }
    &:last-child {
      margin-top: 0;
    }
    & > .item {
      display: flex;
      align-items: center;
    }
  }

  .okr-list__name {
    flex-grow: 1;
    margin: 0 .5rem;
  }
}
