.okr-select {
  min-height: 40px; /* equals to okr-list */

  &.disabled {
    cursor: not-allowed;
  }

  &.preview {
    display: flex;
    align-items: baseline;

    .okr-list {
      flex-grow: 1;
    }

    .button {
      margin-left: 1rem;
    }
  }
}
