.meeting-link-button {
  &.ui.basic.button {
    margin: 0 0 0 8px;

    &:focus {
      background-color: transparent !important;
      color: rgba(0, 0, 0, 0.6) !important;
      box-shadow: 0 0 0 1px $BORDER_COLOR inset;
    }
    &:hover {
      background-color: $SELECT_BG_COLOR !important;
      color: rgba(0, 0, 0, 0.8) !important;
      box-shadow: 0 0 0 1px $BORDER_HOVER_COLOR inset;
    }
  }
}
