.menu-bar {
  &.ui.secondary.menu {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;

    .menu-item__home {
      margin-right: 0
    }
    .menu-item__okr {
      margin-left: 0;
    }
  }

  .header {
    .logo__img {
      max-width: 80px;
      max-height: 40px;
      width: auto;
      height: auto;
    }
  }
}
