.okr-description-text-only {
  .okr-description-text-only__text {
    padding: .78em 1em;
  }

  .okr-description-text-only__button {
    text-align: right;
  }
}

.okr-description-text-area {
  padding-bottom: 4px;
}
