| #{@receiver} さん

  #{@operator} さんが、Objective にアナウンスメントを追加しました。

  ------------------------------------------------------------
  Objective:
    #{@objective.name}
  責任者:
    #{@objective.owner.last_name} #{@objective.owner.first_name}
  アナウンスメント:
    #{@comment.text}
  ------------------------------------------------------------

  以下から Resily にアクセスして、内容を確認しましょう。

  #{@url}

  --
  Resily株式会社
  https://resily.com
