files:
  /etc/nginx/conf.d/security.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # http directive
      server_tokens off;

      # For more settings?
      # should adding here.
  /tmp/40_nginx_customize.sh:
    owner: root
    group: root
    mode: "000755"
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/envvars

      CONF_FILE_PATH=/opt/elasticbeanstalk/support/conf/webapp_healthd.conf
      CONFIGURED=$(grep -c "return 301 https" ${CONF_FILE_PATH})
      if [[ $CONFIGURED = 0 ]]; then
        sed -i '/listen 80;/a \  if ($http_x_forwarded_proto = "http") { return 301 https://$host$request_uri; }\n' ${CONF_FILE_PATH}
        sed -i -e 's/proxy_add_x_forwarded_for/http_x_forwarded_for/g' ${CONF_FILE_PATH}
        service nginx reload
      fi

container_commands:
  00_appdeploy_deploy_config:
    command: cp -v /tmp/40_nginx_customize.sh /opt/elasticbeanstalk/hooks/appdeploy/enact
  01_configdeploy_deploy_config:
    command: cp -v /tmp/40_nginx_customize.sh /opt/elasticbeanstalk/hooks/configdeploy/enact
