commands:
  01_node_download_rpm:
    command: curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -
  02_node_install:
    command: sudo yum -y install nodejs
  03_yarn_download_yumrepo:
    command: sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
  04_yarn_install:
    command: sudo yum -y install yarn
container_commands:
  01_update_latest_bundler:
    command: gem install bundler
  02_install_dependencies:
    command: bundle exec rails yarn:install
  03_compile_assets:
    command: bundle exec rails webpacker:compile
