container_commands:
  00_create_leader_identifier:
    command: touch /tmp/leader_only
    leader_only: true
  01_uncomment_cron:
    command: "sed -i -e 's/#//g' /etc/cron.d/resily"
    leader_only: true
files:
  /opt/elasticbeanstalk/bin/docker_starter.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -eu
      jq  -r "to_entries|map(\"\(.key)=\(.value|tostring)\")|.[]" <(/opt/elasticbeanstalk/bin/get-config environment) > /tmp/env_vars
      tag=$(docker images | grep 354177550505.dkr.ecr.ap-northeast-1.amazonaws.com/core-api | tr -s ' ' | cut -d ' ' -f 2)
      docker run --rm --env-file /tmp/env_vars 354177550505.dkr.ecr.ap-northeast-1.amazonaws.com/core-api:${tag} bundle exec rails ${1}
  /opt/elasticbeanstalk/hooks/appdeploy/post/10_post_migrate.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -eu
      if [ -f /tmp/leader_only ]; then
        rm /tmp/leader_only
        /opt/elasticbeanstalk/bin/docker_starter.sh db:migrate
        /opt/elasticbeanstalk/bin/docker_starter.sh data:migrate
      fi
  /etc/cron.d/resily:
    mode: "000644"
    owner: root
    group: root
    content: |
      MAILTO=""
      #0 10 * * 5 root /opt/elasticbeanstalk/bin/docker_starter.sh remind_kr_progress:send_email_per_week
      #0 10 28-31 * * root /usr/bin/test `date -d tomorrow +\%d` -eq 1 && /opt/elasticbeanstalk/bin/docker_starter.sh remind_kr_progress:send_email_per_month
      #*/10 * * * * root /opt/elasticbeanstalk/bin/docker_starter.sh bounce_email:register
