option_settings:
  - namespace: aws:autoscaling:updatepolicy:rollingupdate
    option_name: RollingUpdateType
    value: Immutable
  - namespace: aws:elasticbeanstalk:command
    option_name: DeploymentPolicy
    value: Immutable
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 900
