.fafafa {
  font-size: 10px; }

.eee {
  background: #FFF;
  display: box;
  color: #999;
  font-size: 100px;
  float: left; }

#name {
  width: 100px;
  height: 200px;
  background: red; }

.fafafafafaf {
  font-size: 4000px; }
