@charset "utf-8";
//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
// シニア端末対応　news固有css
//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

// ----------------------------------------------------
// SNS
// ----------------------------------------------------
.wrap_sns {
  width: 239px;
    .pluginButton{
        width: 100px;
    }
}
.facebook {
  height: 21px;
}
.facebook div span iframe{}
.twitter {
  padding-right: 10px;
  padding-left: 5px;
  width: 68px;
  display: block;
}
.news_report #pagination iframe{
    margin: 0;
}

// ----------------------------------------------------
// ニューススクロール
// ----------------------------------------------------
.news-scroll__cover {
  height: auto;
  min-height: 140px;
}
.news-scroll{
  min-height: 150px;
}
// ----------------------------------------------------
// ニュースリスト
// ----------------------------------------------------
.news-list__text {
  //width: 100%;
}

