@charset "utf-8";
// ------------------------------------
// ベンダープレフィックス
// ------------------------------------
$experimental-support-for-webkit : true !default;
$experimental-support-for-mozilla : false !default;
$experimental-support-for-opera : false !default;
$experimental-support-for-microsoft : false !default;
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;

// ===================================================================
// 各SCSSファイルのインポート・設定
// ===================================================================

// mixin
@import "mixin";

// 共通設定
@import "setting";

//　news独自 1月対応
@import "jan_news_common";

//　news独自
@import "generic.scss";

//　news独自 シニア端末対応
@import "senior.scss";

//　news独自 こねた連携対応
@import "koneta.scss";