.avatar {
  position: relative;

  .avatar__inner {
    display: inline-block;
    border: 2px solid $BORDER_COLOR;
    border-radius: 50%;
    vertical-align: middle;

    &.is-tiny, &.is-mini {
      border-width: 1px;
    }
  }

  .avatar__name {
    margin-left: .5rem;
  }

  &.disabled {
    .avatar__inner {
      opacity: .38;
    }

    i.icon {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 0;
    }
  }
}

.user_avatar {
  display: inline-block;
  position: relative;

  i.icon {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0;
  }

  &:hover i.icon {
    visibility: visible;
  }

  &.editable {
    cursor: pointer;
  }

  input[type=file] {
    display: none;
  }
}

.owner_avatar {
  display: inline-block;
  position: relative;

  i.icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0;
  }
}

.owner_avatar__popup {
  td {
    padding-left: .5rem;
  }
}
