.avatar {
  display: inline-block;
  border: 2px rgba(34, 36, 38, 0.15) solid;
  border-radius: 50%;
  vertical-align: middle;

  &.is-tiny, &.is-mini {
    border-width: 1px;
  }
}

.user_avatar {
  display: inline-block;

  &.changeable {
    cursor: pointer;
  }

  input[type=file] {
    display: none;
  }
}

.owner_avatar {
  display: inline-block;
  position: relative;

  i.icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0;
  }
}

.owner_avatar__popup {
  td {
    .avatar {
      margin: 1px 4px;
    }
  }
}
