.avatar {
  display: inline-block;

  &.changeable {
    cursor: pointer;
  }
}
.avatar__img {
  display: inline-block;
  border: 2px rgba(34, 36, 38, 0.15) solid;
  border-radius: 50%;
  vertical-align: middle;

  &.is-tiny, &.is-mini {
    border-width: 1px;
  }
}
.avatar__file {
  display: none;
}