.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  .okr-list-section {
    .okr-list-section__menu {
      margin-left: 16px;
    }
  }

  .okr-map-section {
    height: 100%;
    background-color: #FAFAFA;

    .okr-map-section__menu {
      margin-left: 16px;
    }
  }
}
