.dash-board {
  display: flex;
  flex-direction: column;
  height: 100%;

  .okr {
    padding: 0 24px 16px;

    h2 {
      font-size: 14px;
    }

    .okr-list {
      overflow-x: auto;
      white-space: nowrap;
      margin-top: 10px;

      .okr-box {
        display: inline-flex;
        flex-direction: column;
        margin-right: 30px;
        width: 210px;
        height: 195px;
        justify-content: center;
        align-items: center;
        border: 2px rgba(34, 36, 38, 0.15) dashed;
        border-radius: 4px;
        vertical-align: middle;
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        color: #000000;

        &.active {
          border: 2px $ASSIST_COLOR dashed;
          background: rgba(239, 8, 3, 0.11);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .okr-action-section {
    padding: 0 24px 16px;
    height: 100%;
    background-color: rgba(185, 185, 185, 0.1);

    h2 {
      font-size: 14px;
      margin: 16px 0 0;
    }

    .objective-form-block {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
