.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  .okr-list-section {
    padding: 0 24px 16px;

    h2 {
      font-size: 14px;
    }
  }

  .okr-map-section {
    height: 100%;
    background-color: #FAFAFA;

    h2 {
      font-size: 14px;
      margin: 16px 0 0 24px;
    }
  }
}
