.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  .okr-list {
    .okr-list__menu {
      margin-left: 16px;
      margin-right: 16px;
    }

    .okr-list__button {
      .button + .button {
        margin-left: 12px;
      }
    }
  }

  .okr-map {
    height: 100%;
    background-color: #FAFAFA;

    .okr-map__menu {
      margin-left: 16px;
      margin-right: 16px;
    }

    .empty-view {
      margin: 32px auto 0;

      .button {
        margin-top: 8px;
      }
    }
  }
}
