.dash-board {
  display: flex;
  flex-direction: column;
  height: 100%;

  .okr {
    padding: 0 24px 16px;

    h2 {
      font-size: 14px;
    }
  }

  .okr-action-section {
    padding: 0 24px 16px;
    height: 100%;
    background-color: rgba(185, 185, 185, 0.1);

    h2 {
      font-size: 14px;
      margin: 16px 0 0;
    }

    .objective-form-block {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
