.editable-text {
  display: inline !important;

  &.ui.input input {
    vertical-align: baseline;
  }

  input {
    &[readonly] {
      cursor: not-allowed;
    }
  }
}

h1, h2, h3, h4, h5 {
  input {
    font-weight: bold;
  }
}
