.key-result-accordion {
  margin-top: 1rem;

  &.ui.segment {
    padding: 0.5rem 1.3rem;
  }
  &.ui.accordion {
    width: 100%;

    .title {
      .name {
        flex-grow: 1;
        padding-left: 10px;
      }
      .target-value, .expired-date {
        font-size: small;
        margin-right: 1rem;
      }
    }
  }

  .input-date-picker {
    display: flex;
    align-items: center;
    .date-picker {
      margin-bottom: .5rem;
    }
  }

  .concerned-people {
    .concerned-people__item {
      position: relative;
      margin-top: 10px;
    }
    .concerned-people__close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 100%;
    }
  }
}

.ui.form .content {
  .field {
    margin-bottom: 0;
  }
}
