.key-result-select {
  &.disabled {
    cursor: not-allowed;
  }

  &.readonly {
    display: flex;
    align-items: baseline;

    .okr-list {
      flex-grow: 1;
      margin-right: 1rem;
    }
  }
}
