.key-result-form-modal {
  .related-users {
    .related-users__item {
      position: relative;
      margin-top: 10px;
    }
    .related-users__close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 100%;
    }
  }
}
