.key-result-accordion {
  &.ui.segment {
    padding: 0.5rem 1.3rem;
  }
  &.ui.accordion {
    width: 100%;

    .title {
      .name {
        flex-grow: 1;
      }
      .target-value, .expired-date {
        font-size: small;
        margin-right: 1rem;
      }
    }

    .values {
      label {
        display: inline;
        margin-right: 1rem;
      }
    }
  }
}
