.key-result-members-select-box {
  .key-result-members-select-box__item {
  }
  .key-result-members-select-box__name {
  }
  .key-result-members-select-box__selected {
    margin-top: 10px;

    .content {
      display: inline;
      margin-left: 8px;
    }
  }
  .key-result-members-select-box__close {
  }

  .ui.horizontal.list > .item {
    margin-left: 0;
    margin-right: 1em;
    margin-top: .5em;
  }
}