.key-result-form-modal {
  .key-result-members {
    width: 196px;
    .key-result-members__item {
      position: relative;
      margin-top: 10px;
    }
    .key-result-members__name {
      padding-left: 1rem;
    }
    .key-result-members__selected {
      margin-bottom: 10px;
    }
    .key-result-members__close {
      cursor: pointer;
      position: absolute;
      left: 100%;
    }
  }
}
