.key-result-list {
  overflow-y: auto;
  margin: 8px 16px;
  height: 211px;

  .key-result-table {
    cursor: pointer;
  }

  .ui.selectable.table tbody tr:hover {
    background: $SELECT_HOVER_COLOR !important;
  }
  .ui.table tr.active,
  .ui.selectable.table tr.active:hover {
    background: $SELECT_BG_COLOR !important;
  }
}
