.key-result-form-modal {
  .key-result-members {
    .key-result-members__item {
      position: relative;
      margin-top: 10px;
    }
    .key-result-members__close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 100%;
    }
  }
}
