.menu-bar {
  &.ui.secondary.menu {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .header {
    &::after {
      content: 'β';
      color: $PRIMARY_COLOR;
      font-size: medium;
      margin-top: -16px;
      margin-left: 4px;
    }

    .logo__img {
      max-width: 80px;
      max-height: 40px;
      width: auto;
      height: auto;
    }
  }

  .avatar__img.is-small {
    vertical-align: text-bottom;
    margin-right: 4px;
  }
}
