.objective-list {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 16px 16px 0 24px;
  height: 195px + 16px; /* with scrollbar */

  &.is-dragging {
    cursor: move !important;
    .recharts-wrapper,
    .objective-box {
      cursor: move !important;
    }
  }

  .objective-box {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 4px;
    width: 210px;
    height: 195px;
    justify-content: center;
    align-items: center;
    border: 2px rgba(34, 36, 38, 0.15) dashed;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000000;
    cursor: pointer;

    &.active {
      border: 2px $ASSIST_COLOR solid;
      background: rgba(239, 8, 3, 0.11);
    }

    &:hover:not(.drop) {
      border-color: $ASSIST_COLOR;

      .swap-icons {
        display: flex;
      }
    }

    &.drag:not(.touch) {
      visibility: hidden;
    }

    &:last-child {
      margin-right: 0;
    }

    $font-size: .9rem;
    $line-height: 1.4;
    $lines-to-show: 2;

    .name {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 100%;
      height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    .swap-icons {
      width: 100%;
      position: absolute;
      bottom: 4px;
      display: none;
      justify-content: space-between;

      .swap-left,
      .swap-right {
        margin: 0 4px;
      }
    }
    &:first-child .swap-left,
    &:last-child .swap-right {
      visibility: hidden;
    }
  }
}
