.objective-list {
  overflow-x: auto;
  white-space: nowrap;
  margin: 16px 16px 16px 24px;
  height: 195px;

  .objective-box {
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 8px 4px 0;
    width: 210px;
    height: 195px;
    justify-content: center;
    align-items: center;
    border: 2px rgba(34, 36, 38, 0.15) dashed;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000000;

    &.active {
      border: 2px $ASSIST_COLOR solid;
      background: rgba(239, 8, 3, 0.11);
    }

    &:hover {
      border-color: $ASSIST_COLOR;
    }

    &:last-child {
      margin-right: 0;
    }

    $font-size: .9rem;
    $line-height: 1.4;
    $lines-to-show: 2;

    .name {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 100%;
      height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}
