.objective_detail_modal {
  .header {
  }

  .content {
    .progress-rate {
      font-size: 1.1rem;
      color: $PRIMARY_COLOR;
      &.is-slider-screen {
        display: inline-block;
        cursor: pointer;
        width: 60px;
        height: 40px;
        border: 1px #fff solid;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
        &:hover {
          border: 1px #ccc solid;
        }
      }
    }

    .progress-rate-input {
      width: 80px;
      display: inline-block;
      margin-right: 30px;
      font-size: 1.1rem;
      color: $PRIMARY_COLOR;
      .progress-rate-input__inner {
        display: flex;
        align-items: center;
        input {
          font-size: 1.1rem;
          color: $PRIMARY_COLOR;
        }
      }
    }


    .slider {
      display: inline;
      border-left: 1px $LAYER_CONTENT_COLOR solid;
      border-right: 1px $LAYER_CONTENT_COLOR solid;

      input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: $LAYER_CONTENT_COLOR;
        height: 1px;
        width: 150px;
        cursor: pointer;
        vertical-align: middle;

        &:focus,
        &:active {
          outline: none;
        }

        &:focus::-webkit-slider-thumb,
        &:active::-webkit-slider-thumb {
          opacity: 0.6;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;
          border: none;
          width: 12px;
          height: 12px;
          background-color: $PRIMARY_COLOR;
          border-radius: 50%;
          -webkit-border-radius: 50%;
        }

        &[readonly] {
          cursor: default;

          &::-webkit-slider-thumb {
            cursor: default;
          }
        }
      }
    }

    .ui.form .field {
      > label {
        margin: 0 0 .5rem;
      }

      &.values {
        label {
          display: inline;
          margin-right: .5rem;
        }
      }
    }

    .field {
      > .progress-rate {
        display: inline-block;
        min-width: 4rem;
        margin: 0 1rem .5rem 0;
      }
    }
  }
}
