.objective-form-modal {
  .content {
    input[readonly] {
      opacity: .65;
    }
  }

  &.is-keyresult {
    .objective-form-modal__main {
      width: 70%;
      padding-left: 20px;
      .field {
        margin-bottom: 10px;
      }
    }
    .objective-form-modal__body {
      display: flex;
      justify-content: space-between;
      min-height: 556px;
    }
    .sidebar {
      width: 30%;
      .sidebar__items {
        margin-bottom: 40px;
      }
      .sidebar__item {
        position: relative;
        cursor: pointer;
        padding-right: 45px;
        &.is-current {
          background: rgba(239, 8, 3, 0.11);
        }
      }
      .sidebar__description {
        font-size: smaller;
      }
      .sidebar__avatar {
        position: absolute;
        top: 50%;
        left: 7px;
        margin-top: -10px;
      }
      .sidebar__val {
        display: block;
        padding-left: 18px;
      }
      .sidebar__rate {
        position: absolute;
        top: 50%;
        right: 7px;
        margin-top: -10px;
      }
      .sidebar__add-keyresult {
        width: 100%;
      }
      .sidebar__title {
        font-weight: bold;
      }
    }
  }
}
