.objective-form {
  margin: 30px;
  background: #ffffff;
  width: 600px;
  padding: 30px 80px;

  h4 {
    text-align: center;
  }

  .button-form-group{
    display: flex;
    justify-content: center;
  }
}
