.okr-form-modal {
  .header {
  }

  .content {
    .progress-rate {
      font-size: 1.1rem;
      color: $PRIMARY_COLOR;
      &.is-slider-screen {
        display: inline-block;
        cursor: pointer;
        width: 60px;
        height: 40px;
        border: 1px #fff solid;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
        &:hover {
          border: 1px #ccc solid;
        }
      }
    }

    .progress-rate-input {
      width: 80px;
      display: inline-block;
      margin-right: 30px;
      font-size: 1.1rem;
      color: $PRIMARY_COLOR;
      .progress-rate-input__inner {
        display: flex;
        align-items: center;
        input {
          font-size: 1.1rem;
          color: $PRIMARY_COLOR;
        }
      }
    }


    .slider {
      display: inline;
      border-left: 1px $LAYER_CONTENT_COLOR solid;
      border-right: 1px $LAYER_CONTENT_COLOR solid;

      input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: $LAYER_CONTENT_COLOR;
        height: 1px;
        width: 150px;
        cursor: pointer;
        vertical-align: middle;

        &:focus,
        &:active {
          outline: none;
        }

        &:focus::-webkit-slider-thumb,
        &:active::-webkit-slider-thumb {
          opacity: 0.6;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;
          border: none;
          width: 12px;
          height: 12px;
          background-color: $PRIMARY_COLOR;
          border-radius: 50%;
          -webkit-border-radius: 50%;
        }

        &[readonly] {
          cursor: default;

          &::-webkit-slider-thumb {
            cursor: default;
          }
        }
      }
    }

    .ui.form .field {
      > label {
        margin: 0 0 .5rem;
      }

      &.values {
        label {
          display: inline;
          margin-right: .5rem;
        }
      }
    }

    .field {
      > .progress-rate {
        display: inline-block;
        min-width: 4rem;
        margin: 0 1rem .5rem 0;
      }
    }
  }

  .okr-body {
    display: flex;
    justify-content: space-between;
  }

  .sidebar {
    width: 300px;
    .sidebar__items {
      margin-bottom: 20px;
    }
    .sidebar__item {
      position: relative;
      cursor: pointer;
      padding-right: 45px;
      &.is-current {
        background: rgba(239, 8, 3, 0.11);
      }
    }
    .sidebar__avatar {
      position: absolute;
      top: 50%;
      left: 7px;
      margin-top: -10px;
    }
    .sidebar__val {
      display: block;
      padding-left: 18px;
    }
    .sidebar__rate {
      position: absolute;
      top: 50%;
      right: 7px;
      margin-top: -10px;
    }
  }

  .okr-main {
    width: 100%;
    padding-left: 20px;
  }

  .input-date-picker {
    display: flex;
    align-items: center;
    .date-picker {
      margin-bottom: .5rem;
    }
  }

  .concerned-people {
    .concerned-people__item {
      position: relative;
      margin-top: 10px;
    }
    .concerned-people__close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 100%;
    }
  }

  .wide-field {
    width: 100%;
  }

  .comments {
    display: flex;
    align-items: center;
  }
  .comments__item {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 10px;
    border: 1px rgba(34,36,38,.15) solid;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .comments__item-text.is-others {
    padding: 1em;
    min-height: 75px;
  }
  .comments__item-meta {
    display: flex;
    justify-content: flex-end;
    color: #666;
    font-size: smaller;
  }
  .comments__item-name {
    padding-left: 10px;
  }
  .comments__item-icon {
    width: 30px;
    margin-bottom: 10px;
    display: block;
  }
}
