.okr-modal {
  .content {
    .progress-rate {
      color: $SECONDARY_COLOR;
    }

    .slider {
      .ui.input input[type="range"] {
        margin: 0 8px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        cursor: pointer;
      }
    }

    .ui.form .field {
      > label {
        margin: 0 0 .5rem;
      }

      &.flex-field {
        label {
          display: inline-flex;
          min-width: 4rem;
        }
        .flex-field__item {
          display: inline-flex;
          margin-left: .5rem;
        }
        .flex-field__item--block {
          display: block;
          margin-left: 4.5rem;
        }
        .key-result-members {
          width: calc(100% - 5rem);
        }
      }
    }
    .ui.form .fields {
      .flex-field:not(:first-child) {
        margin-left: .5rem;
      }
    }
  }

  .okr-body {
    display: flex;
    justify-content: space-between;
    min-height: 606px;
  }

  .sidebar {
    width: 30%;
    padding-right: 26px; /* for swap-icons */
    .sidebar__items {
      margin-bottom: 20px;
    }
    .sidebar__item-wrapper {
      position: relative;

      .sidebar__item {
        &:hover:not(.drop) {
          .sidebar__swap-icons {
            display: flex;
          }
        }

        &.drag:not(.touch) {
          visibility: hidden;
        }

        &.drop {
          cursor: default !important;
        }
      }

      &:first-child .swap-up,
      &:last-child .swap-down {
        visibility: hidden;
      }
    }
    .sidebar__swap-icons {
      position: absolute;
      top: 0;
      right: -26px; /* = swap icon width */
      height: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;

      .swap-up,
      .swap-down {
        margin: 2px 0;
        padding-left: 2px;
        width: 26px;
      }
    }
    .sidebar__item {
      position: relative;
      cursor: pointer;
      padding-right: 45px;
      &.is-current {
        background: rgba(239, 8, 3, 0.11);
      }
    }
    .sidebar__title {
      font-weight: bold;
    }
    .sidebar__avatar {
      position: absolute;
      top: 50%;
      left: 4px;
      margin-top: -18px;
    }
    .sidebar__name {
      display: block;
      padding-left: 36px;
    }
    .sidebar__progress {
      position: absolute;
      top: 50%;
      right: 7px;
      margin-top: -10px;
    }
    .sidebar__add-keyresult {
      width: 100%;
      margin-top: 20px;
    }
  }

  .okr-main {
    width: 70%;
    .field {
      margin-bottom: 10px;
    }

    .ui.menu .item > .label {
      &.zero-width {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        width: 0;
      }
    }
  }

  .input-date-picker {
    display: flex;
    align-items: center;
    .date-picker {
      margin-bottom: .5rem;
    }
  }

  .status-radio {
    &.ui.toggle.checkbox {
      &.green {
        input:checked ~ label:before {
          background-color: $GREEN_COLOR !important;
        }
      }
      &.yellow {
        margin-left: 40px;

        input:checked ~ label:before {
          background-color: $YELLOW_COLOR !important;
        }
      }
      &.red {
        margin-left: 40px;

        input:checked ~ label:before {
          background-color: $RED_COLOR !important;
        }
      }
    }
  }

  .key-result-members {
    .key-result-members__item {
      width: 200px;
      position: relative;
      margin-top: 10px;
    }
    .key-result-members__close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 100%;
    }
  }

  .wide-field {
    width: 100%;
  }

  .comments {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .comments__item {
    width: 100%;
  }
  .comments__text-box {
    margin-bottom: 10px;
  }
  .comments__item-meta {
    display: flex;
    justify-content: flex-end;
    color: #666;
    font-size: smaller;
    margin-top: 4px;
  }
  .comments__item-name {
    padding-left: 10px;
  }
  .comments__item-icon {
    margin-left: 10px;
    cursor: pointer;
  }

  .okr-comment {
    &.ui.comments .comment .text {
      margin: .5rem 0 .75rem;
      white-space: pre-wrap;
    }
  }

  &.ui.modal .scrolling.content {
    overflow-y: scroll;
  }
}
