.okr-card {
  &.ui.card {
    cursor: default !important;

    .content .header {
      display: flex;
      align-items: center;
    }
  }

  .content {
    .list .item {
      display: flex;

      .name {
        flex-grow: 1;
        margin: 0 4px;
      }

      .progress {
        color: indianred;
        text-align: right;
      }

      .icon {
        margin-left: 4px;
      }
    }

    .header {
      width: 100%;

      .avatarImg {
        flex-shrink: 0;
      }

      .name {
        flex-grow: 1;
        margin: 0 8px;
        font-size: smaller;
        text-align: center;
      }

      .progress {
        color: indianred;
        font-size: smaller;
      }
    }
  }
  .keyResults {
    .list {
      width: 100%;
    }
  }
  .keyResults__item {
    .name {
      cursor: pointer;
    }
  }
  .keyResults__item--add {
    margin-top: .5rem;
    justify-content: center;
    cursor: pointer;
  }
  .okr-card__meta {
    display: flex;
    align-items: center;

    .lastUpdateTime {
      font-size: small;
      margin-right: .5rem;
      flex-grow: 1;
    }

    .write {
      visibility: hidden;
    }
  }
  &:hover {
    .okr-card__meta .write{
      visibility: visible;
    }
  }
}
