.okr-sidebar {
  width: 30%;
  padding-right: 26px; // for swap-icons

  .sidebar__items {
    margin-bottom: 20px;
  }

  .sidebar__item-wrapper {
    position: relative;

    .sidebar__item {
      &:hover:not(.drop) {
        .sidebar__swap-icons {
          display: flex;
        }
      }

      &.drag:not(.touch) {
        visibility: hidden;
      }

      &.drop {
        cursor: default !important;
      }
    }

    &:first-child .swap-up,
    &:last-child .swap-down {
      visibility: hidden;
    }
  }

  .sidebar__swap-icons {
    position: absolute;
    top: 0;
    right: -26px; // = swap icon width
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;

    .swap-up,
    .swap-down {
      margin: 2px 0;
      padding-left: 2px;
      width: 26px;
    }
  }

  .sidebar__item {
    position: relative;
    cursor: pointer;
    padding-right: 45px;

    &.is-current {
      background: rgba(239, 8, 3, 0.11);
    }
  }

  .sidebar__title {
    font-weight: bold;
  }

  .sidebar__avatar {
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -18px;
  }

  .sidebar__name {
    display: block;
    padding-left: 36px;
  }

  .sidebar__progress {
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -10px;
  }

  .sidebar__add-keyresult {
    width: 100%;
    margin-top: 20px;
  }
}
