.okr-comment-text-only {
  &.ui.comments .comment {
    .avatar.disabled {
      opacity: .38;
    }

    .author {
      display: inline-block;
      margin-right: 4px;
    }

    .text {
      margin: .5rem 0 .75rem;
      white-space: pre-wrap;
    }
  }
}

.okr-comment-text-area {
  .okr-comment-text-area__buttons {
    text-align: right;
    margin: 8px 0 16px;
  }
}
