.okr-list {
  &.ui.list > .item {
    display: flex;
    align-items: center;
  }

  .name {
    flex-grow: 1;
    margin: 0 .5rem;
  }

  .progress-rate {
    display: inline-block;
    min-width: 50px;
    text-align: right;
  }
}
