.okr-modal {
  .content {
    .slider {
      .ui.input input[type="range"] {
        margin: 0 8px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        cursor: pointer;
      }
    }

    .ui.form .field {
      > label {
        margin: 0 0 .5rem;
      }

      &.flex-field {
        label {
          display: inline-flex;
          min-width: 4rem;
        }
        .flex-field__item {
          display: inline-flex;
          margin-left: .5rem;
        }
        .flex-field__item--block {
          display: block;
          margin-left: 4.5rem;
        }
        .key-result-members {
          width: calc(100% - 5rem);
        }
      }
    }
    .ui.form .fields {
      .flex-field:not(:first-child) {
        margin-left: .5rem;
      }

      &.okr-buttons {
        margin-top: 20px;
        flex-direction: row-reverse;
      }
    }
  }

  .okr-body {
    display: flex;
    justify-content: space-between;
    min-height: 606px;
  }

  .okr-main {
    width: 70%;
    .field {
      margin-bottom: 10px;
    }

    .ui.menu .item > .label {
      &.zero-width {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        width: 0;
      }
    }
  }

  .input-date-picker {
    display: flex;
    align-items: center;
    .date-picker {
      margin-bottom: .5rem;
    }
  }

  .key-result-members {
    .key-result-members__item {
      width: 200px;
      position: relative;
      margin-top: 10px;
    }
    .key-result-members__close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 100%;
    }
  }

  .comment-pane {
    .comment-pane__button {
      text-align: right;
      margin-bottom: 16px;
    }
  }

  &.ui.modal .scrolling.content {
    overflow-y: scroll;
  }
}
