.okr-sidebar {
  width: 30%;
  padding-right: 26px; // for swap-icons

  .sidebar__item-wrapper {
    position: relative;

    .sidebar__item {
      &:hover:not(.drop) {
        .sidebar__swap-icons {
          display: flex;
        }
      }

      &.drag:not(.touch) {
        visibility: hidden;
      }

      &.drop {
        cursor: default !important;
      }
    }

    &:first-child .swap-up,
    &:last-child .swap-down {
      visibility: hidden;
    }
  }

  .sidebar__swap-icons {
    position: absolute;
    top: 0;
    right: -26px; // = swap icon width
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    .swap-up,
    .swap-down {
      padding-left: 2px;
      width: 26px;
    }
    .swap-up {
      margin-top: 4px;
    }
    .swap-down {
      margin-bottom: 4px;
    }
  }

  .sidebar__item {
    display: flex;
    align-items: center;
    padding: 8px 4px;
    cursor: pointer;

    &.is-current {
      background: rgba(239, 8, 3, 0.11);
    }
  }

  .sidebar__name {
    flex-grow: 1;
    margin: 0 4px;
  }
}
