.okr-map {
  position: relative;

  .okr-map__group {
    justify-content: center;

    &.ui.cards {
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 32px;
      padding-left: 32px;
    }

    &:nth-child(odd) {
      background-color: #FAFAFA;
    }
    &:nth-child(even) {
      background-color: white;
    }
  }

  .okr-map__pair {
    display: flex;
  }
}
