.okr-form-modal {
  .content {
    .progress-rate {
      font-size: 1.1rem;
      font-weight: bold;
      color: $PRIMARY_COLOR;

      .progress-rate__input input {
        font-size: 1.1rem;
        font-weight: bold;
        color: $PRIMARY_COLOR;
      }
    }

    .slider {
      .ui.input input[type="range"] {
        margin: 0 8px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        cursor: pointer;
      }
    }

    .ui.form .field {
      > label {
        margin: 0 0 .5rem;
      }

      &.flex-field {
        label {
          display: inline-flex;
          min-width: 4rem;
        }
        .flex-field__item {
          display: inline-flex;
          margin-left: .5rem;
        }
        .key-result-members {
          width: calc(100% - 5rem);
        }
      }
    }
  }

  .okr-body {
    display: flex;
    justify-content: space-between;
    min-height: 620px;
  }

  .sidebar {
    width: 30%;
    .sidebar__items {
      margin-bottom: 20px;
    }
    .sidebar__item {
      position: relative;
      cursor: pointer;
      padding-right: 45px;
      &.is-current {
        background: rgba(239, 8, 3, 0.11);
      }
    }
    .sidebar__title {
      font-weight: bold;
    }
    .sidebar__avatar {
      position: absolute;
      top: 50%;
      left: 7px;
      margin-top: -10px;
    }
    .sidebar__val {
      display: block;
      padding-left: 18px;
    }
    .sidebar__rate {
      position: absolute;
      top: 50%;
      right: 7px;
      margin-top: -10px;
    }
    .sidebar__add-keyresult {
      width: 100%;
    }
  }

  .okr-main {
    width: 70%;
    padding-left: 20px;
    .field {
      margin-bottom: 10px;
    }
  }

  .input-date-picker {
    display: flex;
    align-items: center;
    .date-picker {
      margin-bottom: .5rem;
    }
  }

  .key-result-members {
    .key-result-members__item {
      width: 200px;
      position: relative;
      margin-top: 10px;
    }
    .key-result-members__close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 100%;
    }
  }

  .wide-field {
    width: 100%;
  }

  .comments {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .comments__item {
    width: 100%;
  }
  .comments__text-box {
    margin-bottom: 10px;
  }
  .comments__item-text {
    width: 100%;
  }
  .comments__item-text.is-others {
    padding: 1em;
    min-height: 75px;
  }
  .comments__item-meta {
    display: flex;
    justify-content: flex-end;
    color: #666;
    font-size: smaller;
    margin-top: 4px;
  }
  .comments__item-name {
    padding-left: 10px;
  }
  .comments__item-icon {
    margin-left: 10px;
    cursor: pointer;
  }

  .child-objectives-list {
    .content {
      display: inline;
      margin-left: 8px;
    }
  }
}
