.okr-card {
  &.ui.card {
    margin-top: 24px;
    margin-bottom: 48px;
    width: 315px; /* 4 cards in a row within 1366px */

    &:hover {
      transform: translateY(-3px);
    }

    &.active {
      border: 2px $ASSIST_COLOR solid;
      background: rgba(239, 8, 3, 0.11);
    }

    .content .header {
      display: flex;
      align-items: center;
    }
  }

  .content {
    .list .item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 1px;

      .name {
        flex-grow: 1;
        margin: 0 .5rem;
      }

      .progress {
        color: indianred;
        text-align: right;
      }
    }

    .header {
      width: 100%;

      .avatarImg {
        flex-shrink: 0;
      }

      .name {
        flex-grow: 1;
        margin: 0 .5rem;
        font-size: smaller;
        text-align: center;
      }

      .progress {
        color: indianred;
        font-size: smaller;
      }
    }
  }
  .keyResults {
    .list {
      width: 100%;
    }
  }
  .keyResults__item {
    &.active {
      background: rgba(236, 95, 0, 0.3);
      font-weight: bold;
    }

    .toggle {
      margin-left: .5rem;

      .ui.basic.button {
        margin-right: 0;
      }

      &.no-child {
        visibility: hidden;
      }
    }
  }
  .keyResults__item--add {
    .list {
      width: auto;
    }
  }
  .okr-card__meta {
    .update-time {
      width: 100%;
      font-size: small;
    }
  }
}
