.okr-card {
  &.ui.card {
    margin-top: 24px;
    margin-bottom: 48px;
    width: 424px; /* 3 cards in a row within 1366px */

    &:hover {
      transform: translateY(-3px);
    }

    &.active {
      border: 2px $SELECT_COLOR solid;
    }

    .content .header {
      display: flex;
      align-items: center;
    }
  }

  .content {
    .list .item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 1px;

      .name {
        flex-grow: 1;
        margin: 0 .5rem;
      }
    }

    .header {
      width: 100%;

      .avatarImg {
        flex-shrink: 0;
      }

      .name {
        flex-grow: 1;
        margin: 0 .5rem;
        font-size: smaller;
        text-align: center;
      }

      .progress {
        color: $SECONDARY_COLOR;
        font-size: smaller;
        font-weight: normal;
      }
    }
  }
  .keyResults {
    .list {
      width: 100%;
    }
  }
  .keyResults__item {
    &.active {
      background: $SELECT_BG_COLOR;
      font-weight: bold;
    }

    .toggle {
      margin-left: .5rem;

      .ui.basic.button {
        margin-right: 0;
        color: rgba(0, 0, 0, .8) !important;

        &:focus, &:hover {
          background-color: transparent !important;
        }
        &:focus:not(:hover) {
          box-shadow: 0 0 0 1px rgba(34, 36, 38, .15) inset;
        }
        &.active {
          background-color: rgba(0, 0, 0, .05) !important;
        }
      }

      &.no-child {
        visibility: hidden;
      }
    }
  }
  .keyResults__item--add {
    .list {
      width: auto;
    }
  }
  .okr-card__meta {
    .update-time {
      width: 100%;
      font-size: small;
    }
  }
}
