.task-list {
  overflow-y: auto;
  margin: 16px 16px 16px 24px;
  height: 195px;

  .task-table {
    cursor: pointer;
  }

  .ui.selectable.table tbody tr:hover {
    background: $SELECT_HOVER_COLOR !important;
  }
  .ui.table tr.active,
  .ui.selectable.table tr.active:hover {
    background: $SELECT_BG_COLOR !important;
  }
}
