/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'variable';

@import url('//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css');
@import url(http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css);

@import 'pages/*';
@import 'components/**/*';

body {
  margin: 0;
  font-family: 'M+ Type-1 (general-j) Regular', sans-serif;
}

main {
  margin: 8px;
}

.home {
}

.content {
  display: flex;
}

a.active {
  font-weight: bold;
}


.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}

.continue-check-box {
  margin-bottom: 15px;
}

.okr-tabs {
  .tab {
    display: flex !important;
  }
}

.objective-map {
  margin: 15px;
  position: relative;

  .map-layer {
    margin-top: 30px;
  }
}

.card {
  z-index: 1;
}

.settings-page {
  h2 {
    text-align: center;
  }
}

.setting-tabs {
  .tab {
    border: none;
  }
}

.setting-tabs > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-setting-tab {
  .search {
    display: flex;
    justify-content: flex-end;
    margin: 1em 0;

    input {
      width: 300px;
      flex-grow: 0;
    }
  }
}

.account-setting-tab, .okr-setting-tab {
  dt {
    font-weight: bold;
  }
  dd {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.okr-setting-tab {
  .ui.input {
    margin: 0 1em;

    input {
      max-width: 4em;
    }
  }
}
