/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'variable';

@import url(//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css);
@import url(//mplus-fonts.osdn.jp/webfonts/general-j/mplus_webfonts.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/react-datepicker/0.60.2/react-datepicker.min.css);

@import 'pages/account_setting_tab';
@import 'pages/non_login_forms';
@import 'pages/okr_setting_tab';
@import 'pages/organization_setting_tab';
@import 'pages/password_edit';
@import 'pages/password_recover';
@import 'pages/sign_in';
@import 'pages/sign_up';
@import 'components/auto_input';
@import 'components/avatar';
@import 'components/dashboard';
@import 'components/home';
@import 'components/key_result_list';
@import 'components/key_result_modal';
@import 'components/loading';
@import 'components/menu_bar';
@import 'components/modal';
@import 'components/objective_list';
@import 'components/objective_modal';
@import 'components/okr_card';
@import 'components/okr_list';
@import 'components/okr_map';
@import 'components/okr_modal';
@import 'components/okr_sidebar';
@import 'components/okr_path';
@import 'components/okr_pie_chart';
@import 'components/okr_select';
@import 'components/task_list';
@import 'components/toast';
@import 'components/users_table';
@import 'components/progress_rate';
@import 'components/toggle_button';
@import 'components/status_radio';

body {
  margin: 0;
  font-family: 'M+ Type-1 (general-j) Regular', sans-serif;
  > div#body {
    height: 100%;

    > div#root {
      height: 100%;
    }
  }
}

.content {
  display: flex;
}

a.active {
  font-weight: bold;
}


.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}

.continue-check-box {
  margin-bottom: 15px;
}

.okr-tabs {
  .tab {
    display: flex !important;
  }
}

.card {
  z-index: 1;
}

.settings-page {
  h2 {
    text-align: center;
  }
}

.setting-tabs {
  .tab {
    border: none;
  }
}

.setting-tabs > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#console {
  height: 20px;
}

.form-item {
  .ui.input.error input[type=text], /* SUI bug: Input error style doesn't work in form */
  input[type=text].error { /* error style for DatePicker */
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

input[readonly],
textarea[readonly],
.ui.disabled.checkbox label {
  cursor: not-allowed !important;
}

.disabled-box {
  display: inline-block;
  cursor: not-allowed;
}

.auto-input + .auto-input {
  margin-left: .5em;
}
