/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'variable';

@import url(//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css);
@import url(//mplus-fonts.osdn.jp/webfonts/general-j/mplus_webfonts.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/react-datepicker/0.60.2/react-datepicker.min.css);

@import 'pages/*';
@import 'components/**/*';

body {
  margin: 0;
  font-family: 'M+ Type-1 (general-j) Regular', sans-serif;
  > div {
    height: 100%;

    > #root {
      height: 100%;
    }
  }
}

.content {
  display: flex;
}

a.active {
  font-weight: bold;
}


.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}

.continue-check-box {
  margin-bottom: 15px;
}

.okr-tabs {
  .tab {
    display: flex !important;
  }
}

.card {
  z-index: 1;
}

.settings-page {
  h2 {
    text-align: center;
  }
}

.setting-tabs {
  .tab {
    border: none;
  }
}

.setting-tabs > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-setting-tab {
  .search {
    margin: 1em 0;
  }

  .ui.readonly {
    @mixin transparent() {
      border-color: transparent !important;
      background-color: transparent !important;
      padding-left: 0 !important;
      box-shadow: none !important;
      cursor: default !important;
    }

    &.input input {
      @include transparent();
    }

    &.selection.dropdown {
      @include transparent();

      .dropdown.icon {
        display: none;
      }
    }
  }
}

#console {
  height: 20px;
}

.form-item {
}
.form-item__validation-error {
  color: $DANGER_COLOR;
}