$PRIMARY_COLOR: rgba(191, 47, 47, 0.55);
$SECONDARY_COLOR: rgba(0, 0, 0, .6);

$SELECT_COLOR: #87BCF1;
$ALERT_COLOR: #CD5B5C;
$SELECT_BG_COLOR: rgba(135, 188, 241, .2);
$ALERT_BG_COLOR: #FFEFEA;
$SELECT_HOVER_COLOR: rgba(135, 188, 241, .1);

$GREEN_COLOR: #21ba45; // SUI green
$YELLOW_COLOR: #fbbd08; // SUI yellow
$RED_COLOR: #db2828; // SUI red
