<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="UTF-8">
  <title>ng-stye</title>
  <script src="../../angular/angular.js"></script>
</head>
<body>
  <p ng-style="myStyle">Sample Text</p>
  <div><input type="radio" name="textDecoration"
    ng-click="myStyle={ textDecoration:'overline' }">text-decoration:'overline';</div>
  <div><input type="radio" name="textDecoration"
    ng-click="myStyle={ textDecoration:'line-through' }">text-decoration:line-through;</div>
  <div><input type="radio" name="textDecoration"
    ng-click="myStyle={ textDecoration:'underline' }">text-decoration: underline;</div>
</body>
</html>