<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="UTF-8">
  <title>ng-pluralize</title>
  <script src="../../angular/angular.js"></script>
</head>
<body>
  <input type="number" ng-model="myCount" ng-init="myCount=0">
  <div ng-pluralize
    count="myCount"
    when="{
      '0': '0',
      '1': '1です',
      '2': '2のとき',
      'other': '{}以上です'
    }">
  </div>

  <input type="text" ng-list ng-init="list=['A', 'B', 'C']" ng-model="list">
  <div ng-pluralize
    count="list.length"
    offset="2"
    when="{
      '0': '0',
      '1': '{{ list[0] }}',
      '2': '{{ list[0] }}さんと{{ list[1] }}さんが既読',
      'one': '{{ list[0] }}さんと{{ list[1] }}さんともう1人が既読',
      'other': '{{ list[0] }}さんと{{ list[1] }}さんとその他{}以上が既読'
    }">
  </div>

</body>
</html>